<div class="row">        <!-- first day -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Feburary 1, 2023</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:00</td>        <!-- time    -->
        <td>Introduction to the Workshop Series</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:00</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/index.html">Plotting and Programming in Python</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>13:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>13:30</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/03-types-conversion/index.html">Plotting and Programming in Python - Data Types and Type Conversion</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>15:00</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>      
    </table>
  </div>
</div>
<div class="row">        <!-- day 2 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>February 8, 2023</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>11:00</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/07-reading-tabular/index.html">Plotting and Programming in Python - Reading Tabular Data into DataFrames</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>13:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>13:30</td>        <!-- time    -->
        <td><a href ="http://swcarpentry.github.io/python-novice-gapminder/11-lists/index.html">Plotting and Programming in Python - Lists</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>15:00</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>      
    </table>
  </div>
</div>
<div class="row">        <!-- day 3 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>February 15, 2023</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>11:00</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/14-looping-data-sets/index.html">Plotting and Programming in Python - Looping Over Data Sets</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>13:00</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>13:30</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/python-novice-gapminder/18-style/index.html">Plotting and Programming in Python - Programming Style</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>15:00</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>      
    </table>
  </div>
</div>
